
@{
    ViewBag.Title = "Contact Us";
}


<section class="information">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-8">
                <div class="map">
                    <div style="width: 100%">
                        <div style="width: 100%">
                            <iframe width="100%" height="650" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland+(My%20Business%20Name)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=B&amp;output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                <a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a>
                            </iframe>
                        </div>
                        <br />
                    </div>
                    <br />

                </div>
            </div>
            <div class="col-lg-4">
                <div class="row ">
                    <section class="reservation">
                        <div class="container">
                            <div class="row" style="margin-top:100px">

                                <div class="col-12 text-center ">
                                    <h1 style="font-weight: 700;    position: relative; color: #232323; font-size: 22px; font-weight: 700; line-height: 1.2em; padding-bottom: 35px; letter-spacing: 1px; text-transform: uppercase;">get in touch</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="example-date-input" class="col-2 col-form-label">
                                            <i style="font-size:25px;" class="far fa-calendar"></i>
                                        </label>
                                        <div class="col-8">
                                            <input class="form-control" type="date" value="2019-05-15" id="example-date-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="example-time-input" class="col-2 col-form-label">
                                            <i style="font-size:25px;" class="far fa-clock"></i>
                                        </label>
                                        <div class="col-8">
                                            <input class="form-control" type="time" value="19:00:00" id="example-time-input">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label for="example-number-input" class="col-2 col-form-label">
                                            <i style="font-size:25px;" class="fas fa-user"></i>
                                        </label>
                                        <div class="col-8">
                                            <input class="form-control" type="number" value="0" max="6" min="0" id="example-number-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button style="     background: #8b755a;color:white;font-weight:bold;font-size:2em;margin-top:20px !important;    border: 2px solid #8b755a;line-height: 24px;    text-align: center;   border-radius: 0px; font-size: 12px; letter-spacing: 2px; padding: 13px 43px; margin-top: 10px;cursor: pointer;text-transform:uppercase;">
                                        reservation
                                    </button>
                                </div>
                            </div>





                    </section>
                </div>
            </div>

        </div>
    </div>


</section>
