
@{
    ViewBag.Title = "Gallery";
}

<section class="gallery">
    <div class="container">
        <div class="row" style="margin-top:70px;">
            <div class="col-lg-3 col-md-12 col-xs-12">
                <h1>Task</h1>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12">
                <p>
                    Aenean sollicitudin, lorem quis bibendum aucsim elit consuat ipsum, nec sagittis nibhid elit. Duis sed
                    odio  sit amet nibh vulput ate sus a sit amet mauris. Morbi accumsa ipsum velit. Namec lus adio tincid
                    ant  auctor a ornare odioed nauris vitae era.
                </p>
            </div>

            <div class="col-12">
                <img src="http://monde.elitelayers.com/html/images/resource/story-5.jpg" alt="">
            </div>
        </div>
        <div class="row" style="margin-top:70px;">
            <div class="col-lg-3 col-md-12 col-xs-12">
                <h1>
                    CHALLENGE
                </h1>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12">
                <p>
                    Aenean sollicitudin, lorem quis bibendum aucsim elit consuat ipsum, nec sagittis nibhid elit. Duis sed
                    odio  sit amet nibh vulput ate sus a sit amet mauris. Morbi accumsa ipsum velit. Namec lus adio tincid
                    ant  auctor a ornare odioed nauris vitae era.
                </p>
            </div>

            <div class="col-12">
                <img src="http://monde.elitelayers.com/html/images/resource/story-6.jpg" alt="">
            </div>
        </div>
        <div class="row mb-5" style="margin-top:70px;">
            <div class="col-lg-3 col-md-12 col-xs-12">
                <h1>
                    SOLUTION
                </h1>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12">
                <p>
                    Aenean sollicitudin, lorem quis bibendum aucsim elit consuat ipsum, nec sagittis nibhid elit. Duis sed
                    odio  sit amet nibh vulput ate sus a sit amet mauris. Morbi accumsa ipsum velit. Namec lus adio tincid
                    ant  auctor a ornare odioed nauris vitae era.
                </p>
            </div>


        </div>
    </div>
</section>

